@page
@model ArtHuyart.Pages.Arts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Art</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Art.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Art.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Art.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Art.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Art.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Art.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Art.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Art.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Art.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
